@CHARSET "ISO-8859-1";

.carousel-control.left, .carousel-control.right
		{ 
		background: none !important; 
		filter: progid:none !important; 
		}
 .carousel-inner > .item > img,
.carousel-inner > .item > a > img 
		{
		color: white;      
		width: 400px;
		height: 20%;
		margin: auto;		 
		 border-radius: 15px 15px 15px 15px; 
		  }

body 
		{
	 font-family: "Lato", sans-serif;
	transition: background-color .58s;
		margin:0px 5% 0px 5%;
		}
.maindiv{
 width: 100%; 
 height: 60%;
border-radius: 30px 30px 30px 30px; 
	font-family: "Brush Script MT", cursive;
   font-size: 80px;
    color: #ff0080;
 	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 26.4px;
	align:center;}


.maindivsmall{
 width: 100%; 
 height: 40%;
border-radius: 30px 30px 30px 30px; 
	font-family: "Brush Script MT", cursive;
   font-size: 30px;
    color: black;
 	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 26.4px;
	align:center;}
div.bk{ 

background-image: url('resources/images/background.jpg');
 width: 100%; height: 30%
}
.jumbotron{
height:30%;
width:60;
 border-radius: 30px 30px 30px 30px; 
 

}.well{
background-color: #ffccff;}


p.style{
font-style:oblique;
font-colour:
}

.sidenav {
background-image: url('resources/images/sidebody.jpg');    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;


}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: blue;
}
.container{
align:center;
width:50%}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 100px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#panel {

    padding: 5px;
    text-align: center;
    background-color: pink;
    border: solid 1px #c3c3c3;
    borderradius:10px 10px 10px 10px; 
    padding: 10px;
    display: none;

}
#flip
{
	border-radius:10px 10px 10px 10px;
}

#panel1 {

    padding: 5px;
    text-align: center;
    background-color: pink;
    border: solid 1px #c3c3c3;
    borderradius:10px 10px 10px 10px; 
    padding:10px;
    display: none;

}
#flip1
{
	border-radius:10px 10px 10px 10px;
}
#panel2 {

    padding: 5px;
    text-align: center;
    background-color: pink;
    border: solid 1px #c3c3c3;
    borderradius:10px 10px 10px 10px; 
    padding: 10px;
    display: none;

}
#flip2
{
	border-radius:10px 10px 10px 10px;
}
#panel3 {

    padding: 5px;
    text-align: center;
    background-color: pink;
    border: solid 1px #c3c3c3;
    borderradius:10px 10px 10px 10px; 
    padding: 10px;
    display: none;

}
#flip3
{
	border-radius:10px 10px 10px 10px;
}
.tstyle{ 
		 height: 20%;
		 border-radius: 30px 30px 30px 30px; 
		 font-family: "Brush Script MT", cursive;
		 font-size: 30px;
	     color: black;
		 font-style: normal;
		 font-variant: normal;
		 font-weight: 300;
		 line-height: 26.4px;
		 align:center;
			}

.grad1 
		    {
		    	
				border-radius:20px 20px 20px 20px ;
		        padding:10px 10px;
		        width:80%;
		        margin: auto;
		        background: red; /* For browsers that do not support gradients */
		        background: -webkit-linear-gradient(left top, #ff1a75,#ffe6e6); /* For Safari 5.1 to 6.0 */
		        background: -o-linear-gradient(bottom right, #ff1a75, #ffe6e6); /* For Opera 11.1 to 12.0 */
		        background: -moz-linear-gradient(bottom right, #ff1a75, #ffe6e6); /* For Firefox 3.6 to 15 */
		        background: linear-gradient(to bottom right, #ff1a75, #ffe6e6); /* Standard syntax (must be last) */
		    }

